.position {
	display: flex;
	flex-direction: column;
	width: 100vw;
	align-items: center;
	.input{
		height: 30px;
		width: 400px;
		margin: 40px 0px;
	}
	.layout {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;
		margin: auto;
	}
}
